# --- R (Pour toi) ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata
data/raw/
*.rds
*.dta

# --- Python (Pour ton collègue) ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/

# --- Divers ---
.DS_Store